version: '2'

tasks:
  code-checks:
    include:
      - dind
    steps:
      - name: checks-setup
        when: 'false'
      - name: detect-secrets
        when: 'true'
        include:
          - docker-socket
          - dind
      - name: compliance-checks
        when: 'false'
      - name: peer-review
        when: 'false'
      - name: static-scan
        when: 'false'
  code-build:
    displayName: Build images
    include:
      - dind
      - docker-socket
    steps:
      - name: setup
        when: 'false'
      - name: unit-test
        image: icr.io/continuous-delivery/base-images/base:v1.19.0
        displayName: Run tests
        runtimeClassName: medium
        onError: 'stopAndFail'
        script: |
          #!/usr/bin/env bash
          set -euo pipefail
          cd "$WORKSPACE/$(load_repo app-repo path)"

          source ./build_scripts/setup_env.sh
          source ./build_scripts/install_dependencies.sh
          source ./build_scripts/run_tests.sh

          set_env "STAGE_UNIT_TEST_STATUS" "success"
          collect-evidence --asset-type "repo" --asset-key "app-repo" --status "success" --tool-type "misc" --evidence-type "com.ibm.unit_tests"
      - name: build-artifact
        displayName: Build and publish images
        include:
          - dind
          - docker-socket
        image: icr.io/continuous-delivery/base-images/base:v1.19.0
        runtimeClassName: medium
        onError: 'stopAndFail'
        env:
          ARCH: amd64
        script: |
          #!/usr/bin/env bash
          set -euo pipefail
          cd "$WORKSPACE/$(load_repo app-repo path)"

          source ./build_scripts/setup_env.sh
          source ./build_scripts/install_dependencies.sh
          make build-push-image
      - name: sign-artifact
        when: 'false'
      - name: scan-artifact
        when: 'false'
  deploy-checks:
    include:
      - dind
    steps:
      - name: deploy
        when: 'false'
      - name: dynamic-scan
        when: 'false'
      - name: acceptance-test
        when: 'false'
  deploy-release:
    steps:
      - name: run-stage
        when: 'false'
        
finally:
  code-ci-finish:
    steps:
      - name: run-stage
        when: 'false'
