apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "operator.ibm.com/v1alpha1",
          "kind": "IBMLicensing",
          "metadata": {
            "name": "example-ibmlicensing"
          },
          "spec": {
            "apiNamespace": "kube-system",
            "apiSecretToken": "ibm-licensing-token",
            "datasource": "datacollector",
            "httpsCertsSource": "self-signed",
            "httpsEnable": false,
            "imageRegistry": "quay.io/opencloudio/ibm-licensing",
            "imageTagPostfix": "1.0.0",
            "logLevel": "INFO"
          }
        }
      ]
    capabilities: Basic Install
  name: ibm-licensing-operator.v1.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: IBMLicensing is the Schema for the ibmlicensings API
      kind: IBMLicensing
      name: ibmlicensings.operator.ibm.com
      version: v1alpha1
  description: Placeholder description
  displayName: Ibm Licensing Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          - namespaces
          - serviceaccounts
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - ibm-licensing-operator
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          - deployments
          verbs:
          - get
        - apiGroups:
          - operator.ibm.com
          resources:
          - '*'
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - clusterrolebindings
          - roles
          - rolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          - nodes
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        serviceAccountName: ibm-licensing-operator
      deployments:
      - name: ibm-licensing-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: ibm-licensing-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: ibm-licensing-operator
            spec:
              containers:
              - command:
                - ibm-licensing-operator
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: ibm-licensing-operator
                image: REPLACE_IMAGE
                imagePullPolicy: Always
                name: ibm-licensing-operator
                resources: {}
              serviceAccountName: ibm-licensing-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  maturity: alpha
  provider: {}
  replaces: ibm-licensing-operator.v0.0.0
  version: 1.0.0
